#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.terminal-textarea {
  background-color: #000;
  color: #06a506;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  resize: none;
}

.terminal-textarea:focus {
  outline: none;
}